/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 Feb, 2015, 10:06:32 AM
    Author     : BC Choudhary
*/
label
{
    color: white;
    font-family: "exo";
    font-size: 30px;
}
.backgroud-image
{
    background-image: url("../images/background.jpg");
}
.top-text
{
    color: white;
    text-align: center;
    
}
.top-text-h1
{
    font-size: 50px;
    font-family: "exo"
}
.table-margin
{
    margin-top: 50px;
}
#user-heading
{
    margin-left: 50px;
}
.user-form
{
    margin-left: 10px;
    
}
#search-by-user-id
{
    margin-left: 5px;
    width: 130px;
}
#name-heading
{
    margin-left: 50px;
}
.name-form
{
    margin-left: 10px;
}
#search-by-name
{
    margin-left: 5px;
    width: 120px;
}
#age-heading
{
    margin-left: 65px;
}
.age-form
{
    margin-left: 10px;
}
#search-by-age
{
    margin-left: 5px;
    width: 105px;
}
#department-heading
{
    margin-left: 30px;
}
.department-form
{
    margin-left: 10px;
}
#search-by-department
{
    margin-left: 5px;
    width: 160px;
}
#date-of-birth-heading
{
    margin-left: 20px;
}
.date-of-birth-form
{
    margin-left: 10px;
}
#search-by-date-of-birth
{
    margin-left: 5px;
    width: 165px;
}
#cgpa-heading
{
    margin-left: 65px;
}
.cgpa-form
{
    margin-left: 10px;
}
#search-by-cgpa
{
    margin-left: 5px;
    width: 120px;
}
td
{
    text-align: center;
    vertical-align: middle;
    color: white;
    font-family: "exo";
}
