<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Angular JS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/bootstrap.css"/>
        <link rel="stylesheet" href="css/angularcss.css"/>
    </head>
    <body class='backgroud-image'>
        <div class='top-text'>
            <h1 class='top-text-h1'>Data Table</h1>
        </div>
        <div class="table-margin" ng-app="" ng-init="users=[
            {user_id:'01',name:'Navit',age:'22',department:'web',birth_date:'1992 - 05 - 22',cgpa:'7.94'},
            {user_id:'02', name:'Gagan', age:'21', department:'web', birth_date:'1993-05-12', cgpa:'7.01'},
            {user_id:'03', name:'Kashish', age:'20', department:'mobile', birth_date:'1994-05-11', cgpa:'7.92'},
            {user_id:'04', name:'Jaskirat', age:'21', department:'ios', birth_date:'1993-01-20', cgpa:'6.8'},
            {user_id:'05', name:'Avi', age:'20', department:'civil', birth_date:'1994-08-29', cgpa:'8.02'},
            {user_id:'06', name:'Shubham', age:'20', department:'web', birth_date:'1994-08-05', cgpa:'7.00'},
            {user_id:'07', name:'Muddassir', age:'22', department:'android', birth_date:'1992-05-03', cgpa:'8.5'},
            {user_id:'08', name:'Arash', age:'20', department:'student', birth_date:'1994-01-22', cgpa:'6.00'},
            {user_id:'09', name:'Dhriti', age:'20', department:'student', birth_date:'1994-01-29', cgpa:'7.3'},
            {user_id:'10', name:'Lakshmi', age:'21', department:'android', birth_date:'1993-04-17', cgpa:'9.35'},
            ]">
            <table class="table table-bordered table-hover">
                <thead>
                <th>
                    <label id="user-heading">USER-ID</label>
                <form class="form-inline user-form">
                    <div class="form-group">
                        <input type="text" class="form-control" id="search-by-user-id" placeholder="Search User-Id" ng-model="search.user_id">
                    </div>
                    <button class="btn btn-info" ng-click="orderByField = 'user_id';
                        reverseSort = !reverseSort">Sort</button>
                </form>
                </th>
                <th>
                    <label id="name-heading">Names</label>
                <form class="form-inline name-form">
                    <div class="form-group">
                        <input type="text" class="form-control" id="search-by-name" placeholder="Search Name" ng-model="search.name">
                    </div>
                    <button class="btn btn-info" ng-click="orderByField = 'name';
                        reverseSort = !reverseSort">Sort</button>
                </form>
                </th>
                <th>
                    <label id="age-heading">Age</label>
                <form class="form-inline age-form">
                    <div class="form-group">
                        <input type="text" class="form-control" id="search-by-age" placeholder="Search Age" ng-model="search.age">
                    </div>
                    <button class="btn btn-info" ng-click="orderByField = 'age';
                        reverseSort = !reverseSort">Sort</button>
                </form>
                </th>
                <th>
                    <label id="department-heading">Departments</label>
                <form class="form-inline department-form">
                    <div class="form-group">
                        <input type="text" class="form-control" id="search-by-department" placeholder="Search Department" ng-model="search.department">
                    </div>
                    <button class="btn btn-info" ng-click="orderByField = 'department';
                        reverseSort = !reverseSort">Sort</button>
                </form>
                </th>
                <th>
                    <label id="date-of-birth-heading">Date of Births</label>
                <form class="form-inline date-of-birth-form">
                    <div class="form-group">
                        <input type="text" class="form-control" id="search-by-date-of-birth" placeholder="Search Date of Birth" ng-model="search.birth_date">
                    </div>
                    <button class="btn btn-info" ng-click="orderByField = 'birth_date';
                        reverseSort = !reverseSort">Sort</button>
                </form>
                </th>
                <th>
                    <label id="cgpa-heading">CGPA</label>
                <form class="form-inline cgpa-form">
                    <div class="form-group">
                        <input type="text" class="form-control" id="search-by-cgpa" placeholder="Search CGPA" ng-model="search.cgpa">
                    </div>
                    <button class="btn btn-info" ng-click="orderByField = 'cgpa';
                        reverseSort = !reverseSort">Sort</button>
                </form>
                </th>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users| filter:search | orderBy:orderByField:reverseSort">
                        <td ng-bind="user.user_id"></td>
                        <td ng-bind="user.name"></td>
                        <td ng-bind="user.age"></td>
                        <td ng-bind="user.department"></td>
                        <td ng-bind="user.birth_date"></td>
                        <td ng-bind="user.cgpa"></td>
                    </tr>
                </tbody>

            </table>

        </div>
        <script type="text/javascript" src="js/angular.js"></script>
    </body>
</html>
